.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-block: 150px 32px;
}

.hero__eyebrow {
  color: #111827;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.hero__title {
  color: #111827;
  font-size: 60px;
  line-height: 1;
  font-weight: 600;
  margin-block: 10px;
}

.hero__description {
  font-size: 18px;
  line-height: 28px;
  color: #374151;
  max-width: 384px;
}

.hero__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
}

.hero__avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

@media (max-width: 640px) {
  .hero__badge {
    flex-direction: column;
    row-gap: 16px;
  }

  .hero__title {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (max-width: 1024px) {
  .hero {
    grid-template-columns: 1fr;
    row-gap: 48px;
  }

  .hero__image {
    order: -1;
  }
  
  .hero__avatar {
    width: 185px;
    height: 185px;
  }
}